*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

::selection{
    background: black;
    color: white;
}

.nav{
    width: 100%;
    height: 70px;
    margin-top: 5px;
    position: absolute;
    z-index: 9;
    /* background-color: red; */
}
.nav nav{
    display: flex;
    align-items: center;
    padding: 0vh 3vw;
    z-index: 9;
}
.nav nav h1{
    font-size: 2.3vw;
    font-family: sans-serif;
    background-color: #505F98;
    padding: 10px;
    border-radius: 50%;
    color: #fff;
}
.head ul{
    display: flex;
    align-items: center;
    gap: 5vw;
}
.head{
    position: relative;
    left: 10%;
}
.head ul li{
    font-size: 1.6vw;
    font-family: serif;
   
}
.head ul li a{
    color: #505F98;
}
.page1{
    width: 100%;
    min-height: 100vh;
    /* background-color: red; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    top: 0%;
}
.left{
    width: 30%;
    height: 100%;
    position: absolute;
    left: 15%;
    top: 30%;
  /* background-color: rebeccapurple; */
    z-index: 9;
}
.left h1{
    font-size: 2.5vw;
    font-family: serif;
    padding: 3vh 0vw;
    color: #505F98;
}
.left p{
    font-family: serif;
    padding: 2vh 0vw;
}
.left button{
    padding: 2vh 3vw;
    margin-top: 20px;
    background-color: #505F98;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.right{
    width: 70%;
    height: 100%;
    position: absolute;
    right: 0%;
    /* background-color: yellow; */
}
.right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page2{
    width: 100%;
    height: 80vh;
    background-color: #201a20;
}


